$navbar-border-radius: 0px;
$navbar-default-color:             #fff;
$navbar-default-bg:                rgba(0,0,0,0.1);
$navbar-default-border: none;
$border-radius-base: 0px;

$navbar-inverse-bg: #A6386B;
$navbar-inverse-border: #A6386B;
$navbar-inverse-link-color: #ccc;
$navbar-inverse-link-hover-color: #ccc;

$navbar-inverse-link-active-color: #fff;
$navbar-inverse-link-active-bg: #A6386B;

$btn-border-radius-base:         0;
$btn-border-radius-large:        0;
$btn-border-radius-small:        0;