%h3.page-title Playlists

.row
  - @playlists.each do |playlist|
    - if playlist.plays.count > 0
      .col-sm-6
        = render playlist
        %p
          = playlist.plays.collect{|p| p.playable}.map(&:title).join(',')